<div class="container">

    <p>
        <strong>Investimentos (gráfico geral. patrimônio geral)</strong>
    </p>

    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th>Fundo</th>
                <th>Valor</th>
                <th>Rendimento</th>
                <th>Aplicação</th>
                <th>Tipo de fixação</th>
                <th>Instituição</th>
                <th>Atualizado em</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fund of funds">
                <td>{{ fund.name }}</td>
                <td>{{ fund.amount | currency : 'BRL' }}</td>
                <td>{{ fund.naoSeiMudar }}</td>
                <td>{{ fund.type }}</td>
                <td>{{ fund.fixacaoMudar }}</td>
                <td>{{ fund.institution }}</td>
                <td>{{ fund.updatedAt | date: "dd/mm/YYYY HH:mm:ss" }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6">Total Aportado</th>
                <th>R$ 492.345,00</th>
            </tr>
            <tr>
                <th colspan="6">Total Rendimentos</th>
                <th>R$ 3.987,00 (+9.99%)</th>
            </tr>
            <tr>
                <th colspan="6">Meu Patrimônio</th>
                <th>R$ 505.123,00</th>
            </tr>
        </tfoot>
    </table>

    <br><br>

    <p>
        <strong>Aportes (somente os aportes que fiz)</strong>
    </p>

    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th>Fundo</th>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let investment of investments">
                <td>{{ investment.fund }}</td>
                <td>{{ investment.createdAt | date: "dd/mm/YYYY" }}</td>
                <td>{{ investment.amount | currency : 'BRL' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">Total Rendimentos</th>
                <th>{{ sumAmountInvestments() | currency : 'BRL' }} (+9.99%)</th>
            </tr>
        </tfoot>
    </table>

    <br><br>

    <strong>
        <p>Investimentos</p>
    </strong>
    <app-chart [data]="multi"></app-chart>

    <br><br>

    <strong>
        <p>Rendimentos</p>
    </strong>
    <app-chart [data]="multi"></app-chart>

    <br><br>

    <strong>
        <p>Aportes</p>
    </strong>

    <app-chart [data]="multi"></app-chart>

    <!--
    https://www.npmjs.com/package/ngx-currency
    <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
    -->

    <br><br>


    <app-goal-bar
        title="Meta mensal de investimento"
        [goalAmount]="50000.00"
        description="Novembro 2022 (20 dias restantes)"
        [currentAmount]="25000.00"
        [currentPercentAmount]="calculatePercentage(25000.00, 50000.00)">
    </app-goal-bar>

    <br>

    <app-goal-bar
        title="Meta de curto prazo (3 anos)"
        [goalAmount]="1000000.00"
        description="Dezembro 2025"
        [currentAmount]="currentPatrimonyAmount"
        [currentPercentAmount]="calculatePercentage(currentPatrimonyAmount, 1000000.00)">
    </app-goal-bar>

    <br>

    <app-goal-bar
        title="Meta de médio prazo (5 anos)"
        [goalAmount]="3000000.00"
        description="Dezembro 2027"
        [currentAmount]="currentPatrimonyAmount"
        [currentPercentAmount]="calculatePercentage(currentPatrimonyAmount, 3000000.00)">
    </app-goal-bar>

    <br>

    <app-goal-bar
        title="Meta de longo prazo (15 anos)"
        [goalAmount]="10000000.00"
        description="Dezembro 2037"
        [currentAmount]="currentPatrimonyAmount"
        [currentPercentAmount]="calculatePercentage(currentPatrimonyAmount, 10000000.00)">
    </app-goal-bar>

    <br><br>

</div>